// Background colors
$background-1: #ffffff;
$background-2: #f7f7f7;
$background-3: #d6d6d6;
$background-4: #0088cc;
$background-5: #0074ad;
$background-6: #404040;
$background-7: #212529;
$background-8: #212529cc;
$background-9: #1c2023;
$background-10: #17171740;
$background-11: #00000008;
$background-12: black;

// Text colors

$text-1: white;
$text-2: #b7b7b7;
$text-3: #888888;
$text-4: #0088cc;
$text-5: #777777;
$text-6: #555555;
$text-7: #444444;
$text-8: #333333;
$text-9: #212529;
$text-10: black;

// Border colors

$border-1: #f7f7f7;
$border-2: #eeeeee;
$border-3: #ededed;
$border-4: #e2e2e2;
$border-5: #d9d9d9;
$border-6: #bfbfbf;
$border-7: #0088cc;
$border-8: #005580;
$border-9: #212529;
$border-10: #0a0c0d;
$border-11: #F0F0F0;

// Font size
$minor-fs: 12px;
$medium-fs: 14px;

// Font weight
$medium-fw: 500;





